@import "layout";
@import url("https://use.typekit.net/lhj7yye.css");

$black: rgb(20, 20, 20);
$blackOp: rgba(28, 28, 28, .7);
$darkGray: rgba(28, 28, 28, 1);
$gray: rgb(38, 38, 38);
$grayOp: rgba(38, 38, 38, .7);

$small-width: 640px;
$medium-width: 1224px;
$large-width: 1440px;
$xlarge-width: 1920px;
@mixin small {
    @media (max-width: #{$small-width}) {
        @content;
    }
}

@mixin medium {
    @media (min-width: #{$small-width}) and (max-width: #{$medium-width - 1px}) {
        @content;
    }
}

@mixin mediumup {
    @media (min-width: #{$small-width}) {
        @content;
    }
}

@mixin mediumdown {
    @media (max-width: #{$medium-width}) {
        @content;
    }
}

@mixin large {
    @media (min-width: #{$medium-width}) {
        @content;
    }
}

@mixin xlarge {
    @media (min-width: #{$large-width}) {
        @content;
    }
}


body, html{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background: $black;
  font-family: din-2014, sans-serif;
  font-weight: 400; 
  font-style: normal;
  color: white;
}

.canvas {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
}

main {
  z-index: 8;
  position: relative;
  position: fixed;
  height: 100vh;
  padding-top: 75px;
  width: 100%;
  overflow-y: scroll;
}


.home {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9;
  top: 0;
  .title {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 9;
    justify-content: center;
    align-items: center;
    h1 {
      color: transparent;
      -webkit-text-stroke-width: .075rem;
      -webkit-text-stroke-color: #fff;
      font-size: 9vw;
      text-transform: uppercase;
      letter-spacing: 1.4px;
    }
    p {
      font-size: 20px;
      font-weight: 700;
    }
  }
}


header {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 9;
  padding: 15px;
  background: #141414;
  display: flex;
  justify-content: space-between;
  height: 75px;
  align-items: center !important;
  @include small {
    align-items: center !important;
  }
  .title-link {
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: 1.2px;
    text-decoration: none;
    text-transform: uppercase;
    .logo {
      width: 63px;
      margin-top: 4px;
    }
  }
  ul {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    margin: 0px;
    align-items: center;
    li {
      margin: 0px;
      position: relative;
      color: white;
      a {
        color: white;
        padding: 0px 10px;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.1rem;
        font-weight: bold;
        letter-spacing: 1.2px;
        svg {
          width: 23px;
          height: 23px;
        }
      }
    }
  }
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0px 20px;
}

.headline {
  color: transparent;
  -webkit-text-stroke-width: .075rem;
  -webkit-text-stroke-color: #fff;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  text-align: center;
  @include small {
    font-size: 2.5rem;
  }
}

.resume-section {
  position: relative;
  padding: 80px 0px;
  @include mediumdown {
    padding: 20px 0px 40px;
  }
  h2 {
    color: transparent;
    -webkit-text-stroke-width: .075rem;
    -webkit-text-stroke-color: #fff;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 1.2px;
  }
  .row {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
    .left-col {
      width: 70%;
      position: relative;
      padding: 10px;
      @include mediumdown {
        width: 100%;
      }
    }
    .right-col {
      width: 30%;
      position: relative;
      padding: 10px;
      @include mediumdown {
        width: 100%;
      }
    }
    .box {
      background: $blackOp;
      backdrop-filter: blur(5px);
      padding: 20px;
      margin-bottom: 20px;
    }
  }
}

.box {
  .slick-slider {
    .slick-dots {
      position: absolute;
      top: 100%;
      display: flex;
      justify-content: center;
      li {
        margin: 0px;
        button {
          &:before {
            color: white;
          }
        }
      }
    }
  }
  
}


.projects-section {
  position: relative;
  padding: 80px 0px;
  @include mediumdown {
    padding: 20px 0px 40px;
  }
  .slick-slider {
    width: 420px;
    height: 100%;
    
    @include mediumdown {
      width: 350px;
    }
    @include small {
      width: 100%;
      height: 50vw;
    }
  }
  .project-list {
    position: relative;
    list-style: none;
    margin: 0px;
    h2 {
      color: transparent;
      -webkit-text-stroke-width: .075rem;
      -webkit-text-stroke-color: #fff;
      font-size: 2rem;
      text-transform: uppercase;
      letter-spacing: 1.2px;
      margin-bottom: 10px;
      @include small {
        font-size: 1.8rem;
      }
    }
    li {
      position: relative;
      margin-bottom: 20px;
      &:nth-child(even) {
        .box {
          .box-left {
            order: 3;
          }
        }
      }
      .box {
        display: flex;
        background: $blackOp;
        backdrop-filter: blur(5px);
        padding: 30px 20px;
        margin-bottom: 20px;
        min-height: 300px;
        @include small {
          flex-direction: column;
          padding: 20px 10px;
        }
        .box-left {
          padding: 0px 10px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          @include small {
            order: 1 !important;
            
          }
          .box-left-bottom {
            position: relative;
            display: flex;
            @include small {
              margin-top: 30px;
            }
          }
        }
        .box-right {
          padding: 0px 10px;
          @include small {
            margin-bottom: 60px;
          }
        }
      }
    }
  }
}

.slick-slide {
  position: relative;
  div {
    height: 100%;
  }
}

.slider-image {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.slick-list,
.slick-track,
.slick-slide {
  height: 100% !important;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.btn {
  background: transparent;
  border: 2px solid white;
  color: white;
  padding: 12px 40px;
  display: flex;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: .2s;
  cursor: pointer;
  &:hover {
    background: white;
    color: $darkGray;
  }
}


.single-project-section {
  position: relative;
  padding: 80px 0px;
  @include mediumdown {
    padding: 20px 0px 40px;
  }
  h2 {
    color: transparent;
    -webkit-text-stroke-width: .075rem;
    -webkit-text-stroke-color: #fff;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    margin-bottom: 10px;
    @include small {
      font-size: 1.8rem;
    }
  }
  .box {
    display: flex;
    background: $blackOp;
    backdrop-filter: blur(5px);
    padding: 30px 20px;
    margin-bottom: 20px;
    min-height: 300px;
    @include small {
      flex-direction: column;
      padding: 20px 10px;
    }
    .box-left {
      padding: 0px 10px;
    }
    .box-right {
      padding: 0px 10px;
      @include small {
        margin-top: 40px;
      }
    }
  }
  .site-link {
    display: flex;
    align-items: center;
    margin-top: 20px;
    @include small {
      flex-direction: column;
      align-items: flex-start !important;
    }
    .inline-btn {
      margin-left: 20px;
      @include small {
        margin-left: 0px;
        margin-top: 10px;
      }
    }
  }
  .slick-slider {
    width: 400px;
    height: 220px;
    @include mediumdown {
      width: 300px;
      height: 150px;
    }
    @include small {
      width: 100%;
      height: 50vw;
    }
  }
}


.contact-section {
  position: relative;
  padding: 80px 0px;
  @include mediumdown {
    padding: 20px 0px 40px;
  }
  .container {
    max-width: 900px;
  }
  form {
    display: flex;
    flex-direction: column;
    input,
    textarea {
      background: $blackOp;
      backdrop-filter: blur(5px);
      border: 0px;
      margin-bottom: 20px;
      padding: 10px;
      outline: 0px;
      color: white;
      font-weight: bold;
    }
    textarea {
      min-height: 300px;
    }
    .submit {
      display: flex;
      justify-content: flex-end;
    }
  }
}

.nav-links {
  @include small {
    display: none;
  }
}


.mmIcon {
  display: none;
  cursor: pointer;
  font-size: 1.5rem;
  @include small {
    display: block;
  }
}

.mobile-menu {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $black;
  display: flex;
  justify-content: center;
  .mobilenav-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    li {
      margin-bottom: 20px;
      .m-link {
        font-size: 3rem;
        color: transparent;
        -webkit-text-stroke-width: .075rem;
        -webkit-text-stroke-color: #fff;
        text-transform: uppercase;
        letter-spacing: 1.2px;
      }
    }
  }
}